.Header{
    width: 100%; 
    height: 70px;
    display: flex;
    justify-content: space-between; 
    background-color: deepskyblue; 
    align-items: center;
} 

.HeaderItem{
    font-size: 28px; 
    margin-left: 40px; 
    color: white;
} 

.LogoutItem button{
    padding: 7.5px;
    border-radius: 5px; 
    border: solid 2px deepskyblue;
    background-color: white; 
    color: deepskyblue; 
    font-size: 18px; 
    margin-right: 40px;
} 

.LogoutItem button:hover{
    background-color: orange;
    color: white;
}